.sidebarContainer {
  height: 100vh;
  width: 20vw;
  background-color: #1d1c2b;
  color: rgb(244, 244, 244);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sidebarContainer h1 {
  text-align: center;
}

.listContainer {
  padding: 0;
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listContainer li {
  padding: 20px 0 10px 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.deleteBtn {
  background-color: #b15c5c;
  border: none;
  color: white;
  display: inline-block;
  position: relative;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  margin-left: 15px;
  border-radius: 5px;
  cursor: pointer;
}

/*  Tooltip on Hover delete button */
.toolTip {
  visibility: hidden;
  position: absolute;
  width: 90px;
  font-size: 0.8rem;
  background-color: rgba(115, 115, 115);
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  z-index: 1;
  top: 32px;
  left: -95px;
}

.toolTip::after {
  position: absolute;
  content: ' ';
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(115, 115, 115) transparent;
  bottom: 100%;
  left: 50%;
}

.deleteBtn:hover .toolTip {
  visibility: visible;
}

.deleteBtn:hover {
  background-color: #9e5353;
}

.deleteContainer {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 20px 20px 20px 20px;
  border-radius: 15px;
  width: 18vw;
  max-width: 230px;
}

.deleteContainer h2 {
  margin: 8px;
}

.zoomContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 0 20px 20px 20px;
  border-radius: 15px;
  margin-bottom: 25px;
}

.zoomContainer button {
  width: 100px;
  padding: 10px 0;
  margin: 5px;
  border: none;
  background-color: #5cb18d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(244, 244, 244);
  border-radius: 5px;
  cursor: pointer;
}

.zoomContainer button svg {
  margin-left: 8px;
}

.zoomContainer button:hover {
  background-color: #4f9a7b;
}

/*  Custom Toggle for Draw and Delete */
.toggle {
  --width: 40px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.toggle input {
  display: none;
}
.toggle input:checked ~ .slider {
  background: #b15c5c;
}

.slider {
  margin-top: 10px;
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #5cb18d;
  transition: background 0.2s;
}

.slider::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: white;
  box-shadow: 0.8px 0.8px 1.6px rgba(0, 0, 0, 0.019), 1.8px 1.8px 3.6px rgba(0, 0, 0, 0.028), 3.2px 3.2px 6.3px rgba(0, 0, 0, 0.034),
    5px 5px 10px rgba(0, 0, 0, 0.04), 7.7px 7.7px 15.5px rgba(0, 0, 0, 0.046), 12.1px 12.1px 24.1px rgba(0, 0, 0, 0.052),
    20px 20px 40px rgba(0, 0, 0, 0.061), 40px 40px 80px rgba(0, 0, 0, 0.08);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}
.toggle input:checked ~ .slider::after {
  transform: translateX(var(--height));
}
