.listContainer {
  height: 100vh;
  width: 20vw;
  background-color: #1d1c2b;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.listContainer h1 {
  text-align: center;
}

.listContainer ul {
  padding: 0;
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listContainer li {
  padding: 20px 0 10px 0;
  list-style-type: none;
}

.deleteBtn {
  background-color: #b15c5c;
  border: none;
  color: white;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteContainer {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 20px 20px 20px 20px;
  border-radius: 15px;
  width: 18vw;
  max-width: 230px;
}

.deleteContainer h2 {
  margin: 8px;
}

.zoomContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 0 20px 20px 20px;
  border-radius: 15px;
  margin-bottom: 40px;
}

.zoomContainer button {
  width: 100px;
  padding: 5px 0;
  margin: 5px;
  border: none;
  background-color: #5cb18d;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
