/* Whole container */
.sidebarContainer {
  height: 100vh;
  height: 100svh;
  width: 20vw;
  background-color: var(--blue);
  color: rgb(244, 244, 244);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.shapeHeader {
  text-align: center;
  width: 100%;
  padding: 25px;
  border-radius: 8px;
  color: black;
  background-color: var(--bgGrey);
  margin-top: 16px;
}

/* Text shown when no Polygons to display */
.standInText {
  display: flex;
  align-items: center;
}

.standInText svg {
  margin-right: 7px;
}

/* Container of all Polygons, including H1 & Button */
.listContainer {
  width: 90%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 220px;
  overflow-y: auto;
}
.listContainer li {
  padding: 16px 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listContainer li > svg {
  margin-right: 7px;
}

/* Delete Polygon Button */
.deleteBtn {
  background-color: var(--red);
  border: none;
  color: white;
  display: inline-block;
  position: relative;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  margin-left: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* Clear canvas Button */
.clearCanvasBtn {
  margin-top: 12px;
  width: 100%;
  min-height: 36px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--red);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.clearCanvasBtn:hover {
  transition: background-color 200ms;
  background-color: var(--redhv);
}

.clearCanvasBtn svg {
  margin-left: 5px;
}

/*  Tooltip on Hover delete button */
.toolTip {
  visibility: hidden;
  position: absolute;
  /* width: 90px; */
  font-size: 0.8rem;
  background-color: rgba(115, 115, 115, 0.7);
  text-align: center;
  padding: 5px 8px;
  border-radius: 6px;
  z-index: 1;
  top: 36px;
  left: -10px;
}

.toolTip::after {
  position: absolute;
  content: ' ';
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(115, 115, 115, 0.7) transparent;
  bottom: 100%;
  left: 50%;
}

.deleteBtn:hover .toolTip {
  visibility: visible;
}

.deleteBtn:hover {
  background-color: var(--redhv);
  transition: background-color 200ms;
}

.deleteBtn svg {
  margin-top: 3px;
}

.deleteContainer {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bgGrey);
  color: black;
  padding: 22px 20px 20px 20px;
  border-radius: var(--bdrad);
  width: 18vw;
  max-width: 230px;
}

.deleteContainer h2 {
  margin: 8px;
}

/* ZOOM Controls container */
.zoomContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--bgGrey);
  color: black;
  padding: 0 20px 20px 20px;
  border-radius: var(--bdrad);
  margin-bottom: 10px;
}

.zoomContainer button {
  width: 100px;
  padding: 10px 0;
  margin: 5px;
  border: none;
  background-color: var(--green);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(244, 244, 244);
  border-radius: 5px;
  cursor: pointer;
}

.zoomContainer button svg {
  margin-left: 8px;
}

.zoomContainer button:hover {
  background-color: var(--greenhv);
  transition: background-color 200ms;
}

/* Reset Button */
.zoomContainer button:last-of-type {
  font-size: 0.75rem;
  padding: 7px;
  margin: 16px 0 -4px 0;
  width: 30%;
  flex-direction: column;
  background-color: var(--red);
  color: white;
}

/* FIX THIS */
.resetScaleBtn svg:last-of-type {
  margin-left: 0px;
  margin-top: 2px;
}
.resetScaleBtn:hover {
  background-color: var(--redhv);
  transition: background-color 200ms linear;
}

/*//////////////////  Custom Draw & Delete Toggle //////////////////*/
.toggle {
  --width: 40px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.toggle h2 {
  margin: 10px 0;
}

.toggle input {
  display: none;
}
.toggle input:checked ~ .slider {
  background: #b15c5c;
}

.slider {
  margin-top: 10px;
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background-color: var(--green);
  transition: background-color 0.2s;
}

.slider::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: var(--bgGrey);
  box-shadow: 0.8px 0.8px 1.6px rgba(0, 0, 0, 0.019), 1.8px 1.8px 3.6px rgba(0, 0, 0, 0.028), 3.2px 3.2px 6.3px rgba(0, 0, 0, 0.034),
    5px 5px 10px rgba(0, 0, 0, 0.04), 7.7px 7.7px 15.5px rgba(0, 0, 0, 0.046), 12.1px 12.1px 24.1px rgba(0, 0, 0, 0.052), 20px 20px 40px rgba(0, 0, 0, 0.061),
    40px 40px 80px rgba(0, 0, 0, 0.08);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}
.toggle input:checked ~ .slider::after {
  transform: translateX(var(--height));
}

.me {
  font-size: smaller;
  margin-bottom: 16px;
  text-align: center;
}
.me svg {
  margin-left: 3px;
}
